.boton {  /* Estilos para el botón general */
    font-weight: bold; /* Hace el texto del botón en negrita */
    color: var(--color-oscuro); /* Define el color del texto usando una variable de color */
    text-decoration: none; /* Elimina el subrayado del texto */
    font-size: 20px; /* Establece el tamaño de la fuente a 20 píxeles */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    background-color: var(--color-rose); /* Define el color de fondo usando una variable de color */
    padding: 20px; /* Agrega espacio interno de 20 píxeles alrededor del texto */
    border-radius: 50px; /* Redondea las esquinas del botón */
    border: 7px solid var(--color-oscuro); /* Agrega un borde sólido de 7 píxeles usando una variable de color */
    transition: 0.5s; /* Agrega una transición suave de 0.5 segundos para los cambios de estilo */
    text-align: center; /* Centra el texto dentro del botón */
}

.boton:hover { /* Estilos cuando el botón es interactuado con el puntero */
    background-color: var(--color-oscuro); /* Cambia el color de fondo usando una variable */
    border: 7px solid var(--color-rose); /* Cambia el color del borde usando una variable */
    color: var(--color-rose); /* Cambia el color del texto usando una variable */
    box-shadow: 10px 10px 0px 5px var(--color-rose); /* Agrega una sombra alrededor del botón */
}

.boton--verde { /* Estilos para el botón con clase modificadora 'verde' */
    background-color: var(--color-verde); /* Define el color de fondo usando una variable */
}

.boton--verde:hover { /* Estilos para el botón verde cuando es interactuado */
    border: 7px solid var(--color-palido); /* Cambia el color del borde usando una variable */
    color: var(--color-palido); /* Cambia el color del texto usando una variable */
    box-shadow: 10px 10px 0px 5px var(--color-palido); /* Agrega una sombra alrededor del botón */
}

.boton--rosablanco { /* Estilos para el botón con clase modificadora 'rosablanco' */
    background-color: var(--color-rose); /* Define el color de fondo usando una variable */
}

.boton--rosablanco:hover { /* Estilos para el botón rosablanco cuando es interactuado */
    border: 7px solid var(--color-palido); /* Cambia el color del borde usando una variable */
    color: var(--color-palido); /* Cambia el color del texto usando una variable */
    box-shadow: 10px 10px 0px 5px var(--color-palido); /* Agrega una sombra alrededor del botón */
}

.titulo { /* Estilos para el título principal */
    font-size: 180px; /* Define el tamaño de la fuente a 180 píxeles */
    line-height: 150px; /* Establece la altura de línea para ajustar el espaciado vertical */
    font-weight: bold; /* Hace el texto en negrita */
    color: var(--color-palido); /* Define el color del texto usando una variable */
    margin: 30px; /* Agrega un margen de 30 píxeles alrededor del título */
}

.parrafo { /* Estilos para los párrafos de texto */
    color: var(--color-oscuro); /* Define el color del texto usando una variable */
    font-size: 24px; /* Establece el tamaño de la fuente a 24 píxeles */
    font-weight: bold; /* Hace el texto en negrita */
    width: 90%; /* Establece el ancho del párrafo al 90% del contenedor */
}


@media (max-width: 700px) {
    /* Ajustes para pantallas con un ancho máximo de 700px */

    .parrafo {
        font-size: 2vh; /* Tamaño de fuente adaptativo basado en la altura de la ventana */
        position: relative; /* Permite ajustar la posición usando top, bottom, left, right */
        bottom: 10vh; /* Mueve el párrafo hacia arriba 10vh desde su posición inicial */
        left: -11vh; /* Desplaza el párrafo hacia la izquierda 11vh */
        margin: 4vh; /* Espacio externo de 4vh alrededor del párrafo */
        padding: 2vh; /* Espacio interno de 2vh dentro del párrafo */
    }
    
    .titulo {
        font-size: 10vh; /* Fuente grande relativa a la altura de la ventana */
        line-height: 7vh; /* Ajusta el espacio entre líneas a 7vh */
        position: relative; /* Ajuste de posición relativo */
        bottom: 10vh; /* Mueve el título hacia arriba 10vh */
        left: -11vh; /* Desplaza el título hacia la izquierda 11vh */
        margin: 4vh; /* Espacio externo de 4vh */
    }

    .boton {  
        /* Estilos generales para los botones */
        font-weight: bold; /* Texto en negrita */
        color: var(--color-oscuro); /* Color de texto definido por la variable */
        text-decoration: none; /* Elimina el subrayado del texto */
        font-size: 2vh; /* Tamaño de fuente adaptativo */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        background-color: var(--color-rose); /* Fondo definido por la variable */
        padding: 1vh; /* Espaciado interno */
        border-radius: 5vh; /* Esquinas redondeadas */
        border: 7px solid var(--color-oscuro); /* Borde de 7px con color de la variable */
        transition: 0.5s; /* Transición suave para cambios de estilo */
        text-align: center; /* Centrado del texto */
    }
    
    .boton--verde {
        /* Estilos específicos para el botón con clase modificadora "verde" */
        background-color: var(--color-verde); /* Fondo verde definido por la variable */
        position: relative; /* Posición ajustable */
        bottom: 3vh; /* Mueve el botón hacia arriba 3vh */
    }

    .boton:nth-child(3) {
        /* Estilos para el tercer botón */
        position: relative; /* Permite ajustar la posición */
        left: 3vh; /* Desplaza el botón hacia la derecha 3vh */
    }
    
    .boton:nth-child(5) {
        /* Estilos para el quinto botón */
        position: relative; /* Ajuste de posición */
        right: 15vh; /* Desplaza el botón hacia la izquierda 15vh */
        font-size: 2vh; /* Ajusta el tamaño de la fuente */
        bottom: 3vh; /* Mueve el botón hacia arriba 3vh */
    }
    
    .boton:nth-child(2) {
        /* Estilos para el segundo botón */
        display: none; /* Oculta el segundo botón */
    }
    
    .boton:nth-child(1) {
        /* Estilos para el primer botón */
        position: relative; /* Ajuste de posición */
        right: 6vh; /* Desplaza el botón hacia la izquierda 6vh */
        bottom: 17vh; /* Mueve el botón hacia arriba 17vh */
    }
}
