.copyright__title{

    position: relative;
    top: 100px;
    left: 3px;
    letter-spacing: 1px;
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 40px;
    color: var(--color-palido);
  
  }
  
  .copyright__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .copyright__text {
  
    top: 110px;
    position: relative;
    left: 3px;
    font-family: 'DM Sans';
    font-weight: 600;
  
  }
  
  .copy {
    top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    right: 279px;
    color: var(--color-palido);
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'DM Sans';
  }

  
  
    @media (max-width: 700px) 
    {
      .copyright__container {
      display: flex;
      /* flex-direction: column; */
      /* align-items: center; */
      font-size: 1.7vh;
      /* margin-left: 3vh; */
      display: flex;
   
      justify-content: end;
   
    }
        .copyright__title {
          top: 4;
          font-size: 2.5vh;
        }
                    .copyright__text {
          
                      top: 4;
                      font-size: 1.5vh;
                      
                  
                    }
                    .copy{
                   display: none;
                    }
                    .copyright__section{
                      width: 80vw;
                    }
                    .copyright__section:nth-child(1){

                  
                      position: relative;
                      bottom:  7vh;
                      left: 8vh;

                 
                   }
                   .copyright__section:nth-child(2){
                 
                 
              
                    position: relative;
                    top: 13vh;
                    right:4vh;
                  }
                  
                  .copyright__section:nth-child(3){
                 
                      
                
                    top: 13vh;
                    right: -2vh;
                    position: relative;
                   
                 }
                 
                 .copyright__section:nth-child(4){
                 
               
                  bottom: 6vh;
                  right: 9vh;
                  justify-items: start;
                  position: relative;

                   
                 }
                 
    }
  
