.copyright__title{

    position: relative;
    top: 100px;
    left: 3px;
    letter-spacing: 1px;
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 40px;
    color: var(--color-palido);
  
  }
  
  .copyright__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .copyright__text {
  
    top: 110px;
    position: relative;
    left: 3px;
    font-family: 'DM Sans';
    font-weight: 600;
  
  }
  
  .copy {
    top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    right: 279px;
    color: var(--color-palido);
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'DM Sans';
  
  
  }
    @media (max-width: 700px) 
    {
      .copyright__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
    }
        .copyright__title {
          top: 0;
          font-size: 20px;
        }
                    .copyright__text {
          
                      top: 0;
                    }
                    .copy{
                      top: 0;
                      right: 0;
                      font-size: 30px;
                    }
                    .copyright__section{
                      width: 50vw;
                    }
    }