.join{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: 'DM Sans';
  color: var(--color-palido);
  font-size: 25px;
}
.join__contenedor_izquierda {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
.join__title-lorem {
  font-size: 32px;
  font-weight: bold;
}

.join__title {
  font-size: 150px;
  line-height: 120px;
  font-weight: bold;
}

.join__email {
  margin-top: 30px;
  font-family: 'DM Sans';
  font-size: 30px;
}

.join__separador {
  margin-top: 50px;
  margin-bottom: 50px;
}
.join__contenedor_derecha {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.join__firma{
  margin-top: 150px;
    grid-row: 1 / 2;
      grid-column: 1 / 2;
}
.join__star{
    margin-top: 150px;
    grid-row: 1 / 2;
      grid-column: 2 / 3;
}
.join__luna{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
}
.join__luna_imagen{
  width: 400px;
}
.join__letras_imagen {
  width: 350px;
}
.join__letras_luna{
      grid-row: 1 / 3;
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: end;
}
.join__contenedor_boton{
  width: 300px;
}
@media (max-width: 700px) {
  /* Ajustes para pantallas con un ancho máximo de 700px */

  .join {
      /* Estilo para la sección principal de join */
      display: grid; /* Usa un diseño de cuadrícula */
      grid-template-columns: 1fr 1fr 1fr; /* Divide la cuadrícula en tres columnas iguales */
      grid-template-rows: 100vh 1fr 1fr; /* Primera fila ocupa toda la altura de la ventana, las siguientes ajustan su tamaño */
  }

  .join__title-lorem {
      /* Estilo para el subtítulo */
      font-size: 2vh; /* Tamaño de fuente pequeño para pantallas pequeñas */
      margin-left: -14vh; /* Mueve el subtítulo hacia la izquierda */
  }

  .join__title {
      /* Estilo para el título principal */
      font-size: 16vw; /* Tamaño de fuente proporcional al ancho de la ventana */
      justify-items: center; /* Alinea el contenido horizontalmente al centro */
      margin-left: -11vh; /* Ajusta la posición hacia la izquierda */
  }

  .join__contenedor_izquierda {
      /* Estilo para el contenedor izquierdo */
      align-content: flex-start; /* Alinea el contenido al inicio verticalmente */
      align-items: center; /* Centra los elementos dentro del contenedor */
  }

  .join__title p {
      /* Ajustes para el párrafo dentro del título */
      margin-left: 5vh; /* Mueve el párrafo hacia la derecha */
  }

  .join__email {
      /* Estilo para el campo de email */
      margin-left: -9vh; /* Ajusta la posición hacia la izquierda */
  }

  .join__submit {
      /* Estilo para el botón de envío */
      margin-left: -11vh; /* Ajusta la posición hacia la izquierda */
  }
}
