.join{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: 'DM Sans';
  color: var(--color-palido);
  font-size: 25px;
}
.join__contenedor_izquierda {
  position: relative;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
.join__title-lorem {
  font-size: 32px;
  font-weight: bold;
}

.join__title {
  font-size: 150px;
  line-height: 120px;
  font-weight: bold;
}

.join__email {
  margin-top: 30px;
  font-family: 'DM Sans';
  font-size: 30px;
}

.join__separador {
  margin-top: 50px;
  margin-bottom: 50px;
}

.join__submit {
  padding: 10px 20px;
  border: 4px solid black;
  border-radius: 25px;
  background-color: var(--color-rose);
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'DM Sans';
  width: 140px;
  top: 100px;
}

.join__submit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.join__contenedor_derecha {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.join__firma{
  margin-top: 150px;
    grid-row: 1 / 2;
      grid-column: 1 / 2;
}
.join__star{
    margin-top: 150px;
    grid-row: 1 / 2;
      grid-column: 2 / 3;
}
.join__luna{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
}
.join__luna_imagen{
  width: 400px;
}
.join__letras_imagen {
  width: 350px;
}
.join__letras_luna{
      grid-row: 1 / 3;
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: end;
}