/* Meet Section */
.meet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 4;
}

.meet__imagen {
  display: flex;
  margin: auto;
  height: 800px;
  width: 800px;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.meet__parrafo {
  padding: 200px;
  padding-left: 0px;
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}
.meet__contenedor_boton{
  margin-top: 50px;
}
.meet__pinchos {
  margin: 100px;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.meet__pinchos--bajos {
  margin: auto;
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  margin-top: 650px;
  margin-left: 600px;
  height: 300px;
  width: 300px;
}
@media (max-width: 700px) {
  .meet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100vh 1fr 1fr;
    } 

    .meet__imagen {
      display: flex;
      margin: auto;
      height: 400px;
      width: 700px;
      grid-row: 1 / 4;
      grid-column: 1 / 2;
      margin-top: 50vh;
    }
    .meet__parrafo{


      font-size: -4vh;


    }
  }    