/* Sección Meet */
.meet {
  /* Establece un diseño de cuadrícula */
  display: grid;
  /* Define dos columnas de igual tamaño */
  grid-template-columns: 1fr 1fr;
  /* Define una sola fila */
  grid-template-rows: 1fr;
  /* Establece el nivel de apilamiento */
  z-index: 4;
}

/* Contenedor de la imagen */
.meet__imagen {
  /* Establece un diseño flexible */
  display: flex;
  /* Centra la imagen horizontal y verticalmente */
  margin: auto;
  /* Tamaño fijo de la imagen */
  height: 800px;
  width: 800px;
  /* Ocupa la primera fila y la primera columna de la cuadrícula */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

/* Contenedor del párrafo */
.meet__parrafo {
  /* Margen superior e inferior */
  padding: 200px;
  /* Elimina el margen izquierdo */
  padding-left: 0px;
  /* Ocupa la primera fila y la segunda columna de la cuadrícula */
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* Establece un diseño flexible */
  display: flex;
  /* Apila los elementos verticalmente */
  flex-direction: column;
}

/* Contenedor del botón */
.meet__contenedor_boton {
  /* Margen superior */
  margin-top: 50px;
}

/* Elemento de pinchos */
.meet__pinchos {
  /* Margen alrededor del elemento */
  margin: 100px;
  /* Ocupa la primera fila y la primera columna de la cuadrícula */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

/* Elemento de pinchos más pequeños */
.meet__pinchos--bajos {
  /* Centra el elemento horizontal y verticalmente */
  margin: auto;
  /* Ocupa la primera fila y la segunda columna de la cuadrícula */
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* Ajusta la posición del elemento */
  margin-top: 650px;
  margin-left: 600px;
  /* Tamaño fijo del elemento */
  height: 300px;
  width: 300px;
}



@media (max-width: 700px) {
  /* Ajustes para pantallas con un ancho máximo de 700px */

  .meet {
      /* Estilo para la sección principal de meet */
      display: grid; /* Usa un diseño de cuadrícula */
      grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
      grid-template-rows: 100vh 1fr 1fr; /* Primera fila ocupa toda la altura de la ventana, las siguientes son proporcionales */
  }

  .meet__imagen {
      /* Estilo para la imagen dentro de la sección */
      display: flex; /* Usa un contenedor flexible */
      margin: auto; /* Centra la imagen */
      height: 400px; /* Altura fija para la imagen */
      width: 700px; /* Ancho fijo para la imagen */
      grid-row: 1 / 4; /* La imagen ocupa desde la primera fila hasta la cuarta */
      grid-column: 1 / 2; /* La imagen se ubica en la primera columna */
      margin-top: 50vh; /* Añade un margen superior grande para ajustar su posición */
  }

  .meet__parrafo {
      /* Estilo para el párrafo en la sección */
      font-size: -4vh; /* ERROR: Un tamaño de fuente negativo no es válido */
  }
}
