.menu{
    display: grid;
    /*establece el codigo con cuadriculas*/
    grid-template-columns: 1fr 1fr 1fr;
    /*crea 3 columnas*/
    grid-template-rows: 100px;
    /*establece que las filas sean de 100px*/
    height: 100px;
    /*la altura que sea de 100px*/
    width: 100vw;
        /*la anchura que sea de 100vw*/
    background-color: var(--color-verde);
    /*establece que el fondo sea de color verde */
    background-image: url(../img/ruido.png);
    /*establece un efecto de ruido en cada seccion*/
  }
.menu__boton{
    display: flex;
    /*establece que sea flexible*/
    align-items: center;
    /*alinea los items al centro*/
    justify-content: center;
    color: var(--color-palido);
    /*cambia el color de la letra a un color predeterminado palido*/
    text-decoration: none;
    margin-bottom: 20px;
    /*crea una margen de 20px desde abajo*/
    padding: 10px;
    border-radius: 50%;
    /*hace que el borde sea del 50%*/
    transition: 0.5s;
    cursor: pointer;
   
    width: 50px;
    height: 50px;
  }
/* Botones del Menú */
.menu__boton:hover {
  /* Al pasar el cursor sobre un botón, cambia su color y fondo */
  color: var(--color-verde);
  background-color: var(--color-palido);
}

.menu__boton--burger {
  /* Estilo básico del botón de hamburguesa */
  display: flex; /* Hace que el elemento sea un contenedor flexible */
  justify-content: center; /* Alinea los elementos al inicio del contenedor */
  align-items: center; /* Alinea los elementos al final del contenedor */
  color: var(--color-palido); /*El color de texto*/
  text-decoration: none; /*el texto no tendra ninguna decoracion*/
  margin-bottom: 20px; /* el espacio que sea crea para abajo*/
  padding: 10px; /*el espacio que se crea adentro*/
  border-radius: 50%; /*el efecto para redondearlo como una bolita*/
  transition: 0.5s; /*duracion de transiccion para el hover*/
  cursor: pointer; /*hace que el mouse se haga pointer al pasarlo*/
  width: 60px; /*ancho es 60 pixeles*/
  height: 60px; /*alto de 60 pixeles*/
}

.menu__boton--burger:hover {
  /* Al pasar el cursor sobre el botón de hamburguesa, cambia su color y fondo */
  color: var(--color-verde);/*que el color al pasar sera verde*/
  background-color: var(--color-palido); /*que el color del fondo sera blanco*/
}

/* Menú Hamburguesa y Submenú */
.menu__burger {
  /* Contenedor del icono de la hamburguesa */
  display: flex; /* Hace que el elemento sea un contenedor flexible */
  font-size: 40px; /* Tamaño de fuente del icono */
  justify-content: start; /* Alinea los elementos al inicio del contenedor */
  align-items: end; /* Alinea los elementos al final del contenedor */
  grid-row: 1 / 2; /* Posicionamiento en la grilla (no muy claro sin más contexto)*/
  grid-column: 1 / 2; /* Posicionamiento en la grilla (no muy claro sin más contexto)*/
  margin-left: 150px; /* Margen izquierdo de 150 píxeles */
  position: relative; /* Permite posicionar elementos hijos de forma absoluta */
}

.menu__submenu {
  /* Submenú oculto inicialmente */
  display: grid; /* Hace que el elemento sea una grilla */
  grid-template-columns: 200px; /* Define el ancho de las columnas */
  grid-template-rows: repeat(7, 1fr); /* Define 7 filas de igual altura */
  margin-bottom: 1000px; /* Oculta el submenú inicialmente */
  border: 5px solid var(--palido); /* Borde sólido de 5 píxeles */
  transition: 0.5s; /* Transición de 0.5 segundos para animaciones suaves */
}

/* Mostrar el submenú al hacer clic en el botón de hamburguesa */
#menu__spawn_menu:checked ~ .menu__submenu {
  margin-bottom: -280px; /* Mueve el submenú hacia arriba */
}

/* Rotar el botón de hamburguesa al hacer clic */
#menu__spawn_menu:checked + .menu__boton--burger {
  rotate: 90deg; /* Rota el botón 90 grados */
}

#menu__spawn_menu {
  /* Checkbox oculto para controlar el estado del menú */
  display: none;
}
/* Otros Elementos del Menú */
.menu__microfono {
  /* Icono de micrófono */
  display: flex; /*Lo convierte en modelo flexible */
  justify-content: center; /*Pone el contenido de este en el medio en coordenada X*/
  align-items: end; /* Alinea el contenido en el medio pero en coordenada Y*/
  grid-row: 1 / 2; /* esto significa que este tiene esa ubicacion dentro del grid el cual esta en su fila*/
  grid-column: 2 / 3; /* esto significa que este tiene esa ubicacion dentro del grid el cual esta en su columna*/
  margin-bottom: 20px; /* Crea un margen abajo de 20 pixeles */
}

.menu__search {
  /* Campo de búsqueda */
  display: flex; /*Lo convierte en modelo flexible */
  font-size: 34px; /*Aumenta el tamaño del texto*/
  justify-content: center;  /*Pone el contenido de este en el medio en coordenada X*/
  align-items: end; /* Alinea el contenido en el medio pero en coordenada Y*/
  gap: 30px; /* este el espacio que hay entre los textos de lado*/
  grid-row: 1 / 2; /* esto significa que este tiene esa ubicacion dentro del grid el cual esta en su fila*/
  grid-column: 3 / 5; /* esto significa que este tiene esa ubicacion dentro del grid el cual esta en su columna*/
  margin-left: 160px; /*Crea un margen ala izquierda de 160 pixeles*/
}

.menu__transporte {
  /* Elementos del submenú */
  background-color: var(--color-oscuro); /*Coloca un fondo de color oscuro que se aplica ya que la imagen es transparente*/
  background-image: url(../img/ruido.png); /*Coloca una imagen de fondo de los bloques*/
  text-align: center; /*Alinea el texto ala mitad*/
  color: var(--color-palido); /*Coloca el color del texto*/
  border: 3px solid var(--color-palido); /*Crea un borde del bloque*/
  text-decoration: none; /*Quita la decoracion del texto en este caso una linea de abajo porque es un link*/
  text-transform: uppercase; /*Transforma cualquiera texto a mayuscula*/
  font-size: 25px; /*Este define el tamaño de la letra*/
  padding: 10px; /*Este es el espacio interno que se crea para expandirse*/
  width: 250px; /*Esta es la anchura del bloque*/
  cursor: pointer; /*Esto indica que cuando este el mouse por encima se coloca como pointer*/
  transition: 0.5s; /*esto crea una transiccion el cual se usa para el hover*/
}

.menu__transporte:hover {
  /* Al pasar el cursor sobre un elemento del submenú, cambia su color y fondo */
  background-color: var(--color-palido); /*Hace que el fondo sea de color blanco al pasar el mouse por encima*/
  color: var(--color-verde); /*Hace que el color del texto cambie a verde cuando se pasa el mouse por encima*/
}