.podcast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.podcast__titulo {
  display: flex;
  text-transform: lowercase;
  color: var(--color-palido);
  font-size: 200px;
  font-weight: bold;
  margin: auto auto;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  text-align: center;
}
.podcast__contenedor_circulo
{
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
}
.podcast__circulito {
  width: 400px;
  height: 600px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-top: -200px;
}

.podcast__portada_arriba,
.podcast__portada_medio,
.podcast__portada_abajo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast__portada_arriba { grid-row: 2 / 3; grid-column: 1 / 2; }
.podcast__portada_medio { grid-row: 3 / 4; grid-column: 2 / 3; }
.podcast__portada_abajo { grid-row: 4 / 5; grid-column: 1 / 2; }

.podcast__imagen {
  height: 800px;
  width: 600px;
}

.podcast__parrafo_arriba {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.podcast__parrafo_medio {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  padding-left: 200px;
}

.podcast__parrafo_abajo {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.podcast__pincho_arriba { grid-row: 2 / 3; grid-column: 1 / 2; margin-left: 70px; }
.podcast__pincho_medio {
   grid-row: 3 / 4; grid-column: 2 / 3; 
   margin-left: 700px; }
.podcast__pincho_abajo { grid-row: 4 / 5; grid-column: 1 / 2; margin-left: 70px; }

.podcast__subtitulo {
  width: 600px;
  font-size: 80px;
  text-transform: lowercase;
  color: var(--color-palido);
}

.podcast__texto {
  margin-top: 30px;
  color: var(--color-oscuro);
  font-size: 20px;
  font-weight: bold;
  width: 700px;
  margin-bottom: 50px;
}

.podcast__boton {
  font-weight: bold;
  color: var(--color-oscuro);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--color-rose);
  padding: 10px;
  border-radius: 50px;
  border: 4px solid var(--color-oscuro);
  cursor: pointer;
}

.podcast__raya {
  width: 60px;
  height: 3px;
  background-color: var(--color-palido);
  margin: 40px 0px;
}

.podcast__host {
  font-size: 40px;
  color: var(--color-palido);
  font-weight: bold;
}

.podcast__ceo {
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
