@media (max-width: 768px) {
  /* Ajustes generales */
  .container {
    flex-direction: column;
  }

  /* Ajuste de sección de slogan */
  .slogan__titulo {
    font-size: 80px;
    line-height: 100px;
    margin-top: 50px;
  }

  .slogan__texto {
    font-size: 16px;
    width: 90%;
  }

  .slogan__botones {
    flex-direction: column;
    gap: 10px;
  }

  .slogan__numeros {
    font-size: 50px;
    margin-right: 0;
  }

  .slogan__decoracion,
  .slogan__pincho,
  .slogan__circulo {
    display: none; /* Opcional: ocultar decoraciones grandes para simplificar la vista móvil */
  }

  /* Sección de conversación */
  .conversation__main-text,
  .conversation__sub-text {
    font-size: 80px;
  }

  .conversation__parrafo {
    font-size: 14px;
    padding: 10px;
    max-width: 100%;
  }

  /* Ajuste de botones */
  .startup__button-listennow,
  .join__submit {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
    padding: 8px;
  }

  /* Sección de podcast */
  .podcast__titulo {
    font-size: 80px;
  }

  .podcast__subtitulo {
    font-size: 40px;
  }

  .podcast__texto {
    font-size: 18px;
    width: 100%;
  }

  /* Sección de testimonios */
  .testimonials__title {
    font-size: 100px;
  }

  .testimonials__paragraph,
  .testimonials__paragraph--down {
    font-size: 16px;
    max-width: 100%;
  }

  /* Sección de join */
  .join__title,
  .join__subtitle--lower {
    font-size: 80px;
  }

  .join__email,
  .join__container {
    font-size: 18px;
    top: 100px;
    right: 0;
  }

  /* Copyright */
  .copyright__title {
    font-size: 30px;
    top: 50px;
  }

  .copy {
    font-size: 20px;
  }
}
