.slogan {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 100px 1fr;
}

.slogan__burger {
  display: flex;
  font-size: 40px;
  justify-content: start;
  align-items: end;
  color: var(--color-palido);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding-left: 150px;
}

.slogan__microfono {
  display: flex;
  justify-content: center;
  align-items: end;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.slogan__search {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: end;
  color: var(--color-palido);
  gap: 20px;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  margin-left: 100px;
}

.slogan__parrafo {
  display: flex;
  flex-direction: column;
  padding: 50px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding-left: 150px;
}

.slogan__titulo {
  color: var(--color-palido);
  font-size: 180px;
  font-weight: bold;
  line-height: 140px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.slogan__texto {
  color: var(--color-oscuro);
  font-size: 18px;
  font-weight: bold;
  width: 90%;
}

.slogan__botones {
  display: flex;
  margin: 35px 0;
  gap: 20px;
}

.slogan__presionar {
  font-weight: bold;
  color: var(--color-oscuro);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--color-rose);
  padding: 10px;
  border-radius: 50px;
  border: 3px solid var(--color-oscuro);
}

.slogan__presionar--verde {
  font-weight: bold;
  color: var(--color-oscuro);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--color-verde);
  padding: 10px;
  border-radius: 50px;
  border: 3px solid var(--color-oscuro);
}

.slogan__down {
  color: var(--color-palido);
  font-weight: bold;
  font-size: 22px;
  margin-top: 80px;
}

.slogan__imagenes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.slogan__numeros {
  display: flex;
  align-items: end;
  flex-direction: column;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  color: var(--color-palido);
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 210px;
}

.slogan__bordes {
  width: 50px;
  font-size: 40px;
  border-top: 3px solid var(--color-palido);
}

.slogan__decoracion {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.slogan__pincho {
  width: 250px;
  height: 220px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-left: 600px;
}

.slogan__circulo {
  width: 800px;
  height: 800px;
  background-color: var(--color-palido);
  border-radius: 100%;
  margin-right: 100px;
}

.slogan__bordeado {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  height: 400px;
  margin-top: 60px;
  margin-left: 20px;
}

.slogan__chica {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-top: -100px;
  margin-left: 150px;
}
 @media (max-width: 700px) {
  .slogan {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr;
    }
  .slogan__burger{
    justify-content: center;
    padding: 0;
  }
    .slogan__microfono {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  .slogan__search{
    margin: 0;
    grid-row: 1 / 2;
      grid-column: 3 / 4;
  }
  .slogan__parrafo{
    padding: 0;
  }
  .slogan__titulo{
    font-size: 50px;
    line-height: 50px;
    margin: 10px;
  }
  .slogan__texto{
    width: 200%;
  }
    .slogan__imagenes{
      grid-row: 3 / 4;
        grid-column: 1 / 4;
        /* background-color: red; */
        grid-template-columns: 1fr;
          grid-template-rows: 1fr;
    }
    .slogan__botones {
          margin: 20px 0;
          gap: 20px;
        }
        .slogan__presionar {
        font-size: 12px;
        }
        .slogan__presionar--verde {
        font-size: 12px;
        }
    .slogan__down{
          margin-top: 0px;
        }
    .slogan__numeros {
    display: none;
    }
    .slogan__pincho{
      display: none;
    }
    .slogan__decoracion{
         grid-row: 1 ;
         grid-column: 1;
        }
        .slogan__chica {
        grid-row: 1;
        grid-column:1;
        }
        .slogan__bordeado{
          grid-row: 1;
            grid-column: 1;
        }
 }