/* Startup */
.startup__title {
  font-size: 150px;
  padding-left: 150px;
  padding-top: 15%;
  letter-spacing: 10px;
  color: var(--color-palido);
  font-family: 'DM Sans';
  margin: 0;
}

.startup__content {
  padding-left: 120px;
}

.startup__paragraph {
  font-size: 20px;
  padding-top: 50px;
  max-width: 800px;
  color: var(--color-oscuro);
  line-height: 1.6;
  padding-left: 150px;
  text-align: justify;
}

.startup__title-podcast {
  font-size: 150px;
  padding-left: 150px;
  letter-spacing: 10px;
  color: var(--color-palido);
  font-family: 'DM Sans';
  margin: 0;
  line-height: 0.4;
}

.startup__button-listennow {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 160px;
  margin-top: 30px;
}

.startup__button-listennow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.startup__image-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 600px;
}

.startup__main-image {
  max-width: 80%;
  height: auto;
  margin-bottom: -720px;
  position: absolute;
  z-index: 1;
}

.startup__vr-image {
  max-width: 80%;
  height: auto;
  margin-bottom: -773px;
  position: absolute;
  width: 800px;
  object-fit: cover;
  z-index: 2;
}

.startup__wave {
  position: absolute;
  width: 100px;
  height: auto;
  opacity: 0.6;
}

.startup__wave--up {
  top: 4020px;
  left: 48%;
  width: 250px;
}

.startup__wave--down {
  top: 3480px;
  left: 50%;
  width: 200px;
}
