/* Startup */
.startup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: var(--color-palido);
  font-family: 'DM Sans';
}

.startup__content {
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.startup__paragraph {
  font-size: 20px;
  padding-top: 50px;
  max-width: 800px;
  color: var(--color-oscuro);
  line-height: 1.6;
  padding-left: 150px;
  text-align: justify;
  font-weight: bold;
}

.startup__title{
  font-size: 135px;
  padding-left: 150px;
  letter-spacing: 10px;
  color: var(--color-palido);
  font-family: 'DM Sans';
  line-height: 120px;
}
.startup__button-listennow{
  margin: 0 auto;
  width: 150px;
  text-align: center;
  font-weight: bold;
  color: var(--color-oscuro);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--color-rose);
  padding: 10px;
  border-radius: 50px;
  border: 5px solid var(--color-oscuro);
  transition: 0.5s;
  margin-top: 30px;
}

.startup__button-listennow:hover{
  background-color: var(--color-oscuro);
  border: 5px solid var(--color-palido);
  color:var(--color-palido);
  box-shadow: 10px 10px 0px 5px var(--color-palido);
}

.startup__image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.startup__main-image{
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  display: flex;
  justify-content: end;
}
.startup__vr-image {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  display: flex;
  align-items: end;
}
.startup__firmas{
  display: flex;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}