@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url(menu.css);
@import url(slogan.css);
@import url(meet.css);
@import url(podcast.css);
@import url(conversation.css);
@import url(startup.css);
@import url(testimonials.css);
@import url(join.css);
@import url(copy.css);
@import url(querys.css);
@import url(componentes.css);

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-palido: #F0EBD8;
  --color-oscuro: #172726;
  --color-verde: #28B290;
  --color-rose: #E7A9AE;

}
html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.space{
  height: 100px;
  width: 100vw;
  background-color: var(--color-verde);
  background-image: url(../img/ruido.png);
}
.menu{
  z-index: 2;
}
.slogan {
  height: 90vh;
  width: 100vw;
  background-color: var(--color-verde);
  background-image: url(../img/ruido.png);
  z-index: 1;
}

.conversation {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-rose);
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-image: url(../img/ruido.png);
  z-index: 3;
}

.meet {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-verde);
  background-image: url(../img/ruido.png);
}

/* STAR */
.startup {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-rose);
  background-image: url(../img/ruido.png);
}

/* Podcast */
.podcast {
  height: 300vh;
  width: 100vw;
  background-color: var(--color-verde);
  background-image: url(../img/ruido.png);
}

/* TESTIMONIALS */

.testimonials {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-rose);
  background-image: url(../img/ruido.png);
}

/* JOIN */
.join {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-verde);
  background-image: url(../img/ruido.png);
}

/* COPYRIGHT */
.copyright {
  height: 45vh;
  width: 100vw;
  background-color: var(--color-rose);
  background-image: url(../img/ruido.png);
}